/**
 * Master (partial)
 * The default template for any page
 *
 * @author Konscript
 * @version 1.1
 */

/**
* Body
************************************************/

/* Contains everything */
body {
	@include blueprint(true);
	@include blueprint-typography(true);
	@include blueprint-utilities;
	@include blueprint-debug;
	@include blueprint-interaction;
	overflow: scroll; 
	color: $color-primary; }

	/* Wrapper for everything inside of the body */
	#body-container {
		@include container; }

/**
* Header
************************************************/

/* Contains entire header */
#header-container {
	@include column($grid-columns); }

	/* Contains site title and tagline */
	#header {}

		/* Site title */
		#site-title {}
			#site-title a {}
				#site-title a span {}

		/* Site description/tagline */
		#site-description {}

/**
* Primary Menu
************************************************/

/* Wrapper for entire menu area */
#primary-menu {
	@include column($grid-columns); }

	/* Wrapper for unordered list of menu items */
	#primary-menu div.menu {}

		/* Menu list. */
		#primary-menu ul {}
			#primary-menu li {}
				#primary-menu li a {}
			#primary-menu li.current-menu-item {}

/**
* Containers below the header and navigation
************************************************/

/* Wrapper for the content and primary/secondary widget sections */
#container {
	@include column($grid-columns, true);
	width: 970px; }

	/**
	* Content
	************************************************/
	ul.grid {
		@include column($grid-columns, true);
		width: 970px;
		margin: 0;
		padding: 0; 
		
		li {
			@include column(6);
			position: relative;
			height: 200px;
			font-weight: bold;
			//background-color: gray;
			margin-bottom: 10px;
			overflow: hidden;
			border-top: 1px solid gray; }
			
			li .post-title a,
			li .product-title {
				position: absolute;
				padding: 5px;
				bottom: 0;
				left: 0;
				background-color: black;
				width: 100%;
				color: $color-secondary;
				opacity: 0.7; }
			
			//li a, li span { display: none; } 
			
		}	
	

/**
* Footer
************************************************/

/* Wrapper for the entire footer */
#footer-container {
	@include column($grid-columns); }

	/* Subsidiary widget section */
	#subsidiary {}
		#subsidiary .widget {}
			#subsidiary .widget-inside {}
				#subsidiary .widget-title {}

	/* Footer section */
	#footer {}

		/* Footer extra */
		#footer .copyright {}
		#footer .credit {}