.grid {
	overflow: hidden;
}
.grid li {
  width: 128px;
  height: 177px;
  margin: 20px 0 0 35px;
  line-height: 17px;
  float: left;
  text-align: center;
  color: #686f74;
  overflow: hidden;
}

.grid li a img {
		border: none;
	}
