/**
 * Master (partial)
 * The default template for any page
 *
 * @author Konscript
 * @version 1.1
 */

/**
* Body
************************************************/

/* Contains everything */
body {
	@include blueprint(true);
	@include blueprint-typography(true);
	@include blueprint-utilities;
	@include blueprint-debug;
	@include blueprint-interaction;
	overflow: scroll; 
	color: $color-primary; }

	/* Wrapper for everything inside of the body */
	#body-container {
		//@include container; 
		}

/**
* Bar (with menu)
************************************************/

#bar-container {
	position: absolute;
	left: 0;
	top: 100px;
	width: 150px; }
	
	#bar {}
	
		ul#primary-menu {
			margin: 0;
			padding: 0;
			
			li {
				position: relative;
				float: left;
				clear: both;
				margin-bottom: $grid-margin;
				overflow: hidden; 
				margin: 0 0 15px 0;
				padding: 0;
				list-style: none; }
			
				li a {
					margin: 1px 0 1px 30px;
					clear: both;
					float: left;
					text-decoration: none; }
					
				a.topcat { font-weight: bold; }
				a.subcat { font-weight: normal; }
							
			li.current-menu-item {}
			
		}
		
		.fb-like {
			margin-left: 30px; }

/**
* Header (logo)
************************************************/

#loader {
	position: absolute; 
	left: 30px;
	top: 32px; }

#header-container {
	position: absolute;
	left: 150px;
	top: 0;
	height: 100px; }	

	#header {}			

		#site-title { margin-top: 32px; }			

/**
* Main content area
************************************************/

#container {
	position: absolute;
	left: 0px;
	top: 100px;
	width: 100%; }
	
	#content {
		padding-left: 150px;
		padding-right: 50px; }
	
		#grid {
			//@include column($grid-columns, true);
			//width: $grid-totalwidth + $grid-margin;
			margin: 0;
			padding: 0;
			
			.box {
				//@include column(6);
				//height: 306px;
				//min-height: 306px;
				position: relative;
				float: left;		
				background-color: #fff;
				//margin-bottom: $grid-margin;
				overflow: hidden;
				//border-top: 1px solid gray; 
				}				
				
				.box .post-title,
				.box .product-title {
					position: absolute;
					padding: 2px;
					bottom: 0;
					left: 0;
					background-color: #fff;
					width: 100%;
					color: black;
					//color: $color-secondary;
					//opacity: 0.7;
					border-bottom: 1px black solid;
					}
					
					.product-price {
						position: relative;
						float: right;
						margin-right: 5px; }			
	
				.box a {
					color: black;
					text-decoration: none;
					border: none;				
					font-weight: normal;
					}
								
/*			
			// Option 1: Elements all tight together, no space/margin			
			.col1 { width: $grid-columnwidth * 1; }			
			.col2 { width: $grid-columnwidth * 2; }						
			.col3 { width: $grid-columnwidth * 3; }						
			.col4 { width: $grid-columnwidth * 4; }						
			.col5 { width: $grid-columnwidth * 5; }			
			.col6 { width: $grid-columnwidth * 6; }						
			.col7 { width: $grid-columnwidth * 7; }						
			.col8 { width: $grid-columnwidth * 8; }
			.col9 { width: $grid-columnwidth * 9; }			
			.col10 { width: $grid-columnwidth * 10; }
			.col11 { width: $grid-columnwidth * 11; }
			.col12 { width: $grid-columnwidth * 12; }
*/
			
			// Option 2: Standard 10px grid spacing/margin between elements
			.col1 { @include column(1); }			
			.col2 { @include column(2); }						
			.col3 { @include column(3); }						
			.col4 { @include column(4); }						
			.col5 { @include column(5); }			
			.col6 { @include column(6); }						
			.col7 { @include column(7); }						
			.col8 { @include column(8); }
			.col9 { @include column(9); }			
			.col10 { @include column(10); }
			.col11 { @include column(11); }
			.col12 { @include column(12); }
			.box { margin-bottom: $grid-margin; }
			
			// Element heights in grid
			.row1 { height: $grid-columnwidth; }
			.row2 { height: $grid-columnwidth * 2; }
			.row3 { height: $grid-columnwidth * 3; }
			.row4 { height: $grid-columnwidth * 4; }
			.row5 { height: $grid-columnwidth * 5; }
			.row6 { height: $grid-columnwidth * 6; }
			.row7 { height: $grid-columnwidth * 7; }
			.row8 { height: $grid-columnwidth * 8; }
			.row9 { height: $grid-columnwidth * 9; }
			.row10 { height: $grid-columnwidth * 10; }
			.row11 { height: $grid-columnwidth * 11; }
			.row12 { height: $grid-columnwidth * 12; }																		
			
			// Resize images to fit width
			.row1 img { height: $grid-columnwidth; width: auto; }
			.row2 img { height: $grid-columnwidth * 2; width: auto; }
			.row3 img { height: $grid-columnwidth * 3; width: auto; }
			.row4 img { height: $grid-columnwidth * 4; width: auto; }
			.row5 img { height: $grid-columnwidth * 5; width: auto; }
			.row6 img { height: $grid-columnwidth * 6; width: auto; }
			.row7 img { height: $grid-columnwidth * 7; width: auto; }
										
			}	

/**
* Footer
************************************************/

/* Wrapper for the entire footer */
#footer-container {
	display: none; }

	/* Subsidiary widget section */
	#subsidiary {}
		#subsidiary .widget {}
			#subsidiary .widget-inside {}
				#subsidiary .widget-title {}

	/* Footer section */
	#footer {}

		/* Footer extra */
		#footer .copyright {}
		#footer .credit {}