/**
 * Master (partial)
 * The default template for any page
 *
 * @author Konscript
 * @version 1.1
 */

/**
* Body
************************************************/

/* Contains everything */
body {
	@include blueprint(true);
	@include blueprint-typography(true);
	@include blueprint-utilities;
	@include blueprint-debug;
	@include blueprint-interaction;
	overflow: scroll; 
	color: $color-primary; }

	/* Wrapper for everything inside of the body */
	#body-container {
		@include container; }

/**
* Header
************************************************/

/* Contains entire header */
#header-container {
	@include column($grid-columns, true);
	width: $grid-totalwidth + $grid-margin; }	

	/* Contains site title and tagline */
	#header {}

		ul.grid-menu {
			@include column($grid-columns, true);
			width: $grid-totalwidth + $grid-margin;
			margin: 0;
			padding: 0;
			
			li {
				@include column(6);
				position: relative;
				height: 102px;
				font-weight: bold;
				background-color: black;
				margin-bottom: $grid-margin;
				overflow: hidden;
				//border-top: 1px solid gray; 
				-moz-border-radius: 2px;
				-webkit-border-radius: 2px; }
			
				li a {
					color: #fff;
					margin: 3px 10px;
					clear: both;
					float: left;
					text-decoration: none;
					font-weight: normal; }
			
			}
			

		/* Site title */
		#site-title {
			margin: 20px 0 15px 0; }

/**
* Primary Menu
************************************************/

/* Wrapper for entire menu area */
#primary-menu {
	@include column($grid-columns); }

	/* Wrapper for unordered list of menu items */
	#primary-menu div.menu {}

		/* Menu list. */
		#primary-menu ul {}
			#primary-menu li {}
				#primary-menu li a {}
			#primary-menu li.current-menu-item {}

/**
* Containers below the header and navigation
************************************************/

/* Wrapper for the content and primary/secondary widget sections */
#container {
	@include column($grid-columns, true);
	width: $grid-totalwidth + $grid-margin; }

	/**
	* Content
	************************************************/
	
	#content {}
	
		#grid {
			@include column($grid-columns, true);
			width: $grid-totalwidth + $grid-margin;
			margin: 0;
			padding: 0; 
			
			.box {
				//@include column(6);
				position: relative;
				//height: 306px;
				//min-height: 306px;
				font-weight: bold;
				background-color: gray;
				margin-bottom: $grid-margin;
				overflow: hidden;
				//border-top: 1px solid gray;
				-moz-border-radius: 2px;
				-webkit-border-radius: 2px; }				
				
				.box .post-title a,
				.box .product-title {
					position: absolute;
					padding: 5px;
					bottom: 0;
					left: 0;
					background-color: black;
					width: 100%;
					color: $color-secondary;
					opacity: 0.7; }
					
				.box img {
					//margin: auto auto; 
					}
				
			.col1 { @include column(1); }
			//.col1 img { max-width: $grid-columnwidth - $grid-margin; height: auto; }
			
			.col2 { @include column(2); }
			//.col2 img { max-width: $grid-columnwidth * 2 - $grid-margin; height: auto; }
						
			.col3 { @include column(3); }
			//.col3 img { max-width: $grid-columnwidth * 3 - $grid-margin; height: auto; }
						
			.col4 { @include column(4); }
			//.col4 img { max-width: $grid-columnwidth * 4 - $grid-margin; height: auto; }
						
			.col5 { @include column(5); }
			//.col5 img { max-width: $grid-columnwidth * 5 - $grid-margin; height: auto; }
			
			.col6 { @include column(6); }
			//.col6 img { max-width: $grid-columnwidth * 6 - $grid-margin; height: auto; }
						
			.col7 { @include column(7); }
			//.col7 img { max-width: $grid-columnwidth * 7 - $grid-margin; min-height: auto; }
						
			.col8 { @include column(8); }
			.col9 { @include column(9); }			
			.col10 { @include column(10); }
			.col11 { @include column(11); }
			.col12 { @include column(12); }

			.row1 { height: $grid-columnwidth; }
			.row2 { height: $grid-columnwidth * 2; }
			.row3 { height: $grid-columnwidth * 3; }
			.row4 { height: $grid-columnwidth * 4; }
			.row5 { height: $grid-columnwidth * 5; }
			.row6 { height: $grid-columnwidth * 6; }
			.row7 { height: $grid-columnwidth * 7; }
			.row8 { height: $grid-columnwidth * 8; }
			.row9 { height: $grid-columnwidth * 9; }
			.row10 { height: $grid-columnwidth * 10; }
			.row11 { height: $grid-columnwidth * 11; }
			.row12 { height: $grid-columnwidth * 12; }																		
			
			//.col1 img { max-width: 80px; }
			//.col2 img { max-width: 180px; }
			//.col3 img { max-width: 280px; }
			//.col4 img { max-width: 380px; }
			//.col5 img { max-width: 480px; }
							
			}	

/**
* Footer
************************************************/

/* Wrapper for the entire footer */
#footer-container {
	@include column($grid-columns); }

	/* Subsidiary widget section */
	#subsidiary {}
		#subsidiary .widget {}
			#subsidiary .widget-inside {}
				#subsidiary .widget-title {}

	/* Footer section */
	#footer {}

		/* Footer extra */
		#footer .copyright {}
		#footer .credit {}