body {
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
background-color:#ffffff;
color:#000000;
font-size:9pt;
font-family: Arial, Helvetica, sans-serif;
}

img {
border:0;
}

a, a:hover, a:visited {
color:#000000;
text-decoration: none;
}

INPUT {
height:20px;
}

INPUT, TEXTAREA {
vertical-align:middle;
border:1px solid #bbbbbb;
font-size:11px;
color: #333333;
}

.clear {
  clear:both;
  font-size:0pt;
  height:0px;
  margin:0;
  padding:0;
}

.TXNewsletters_general {
  position:relative;
  text-align:center;
  padding-left:24px;
  padding-right:24px;
}

.TXNewsletters_general_int {
  text-align:left;
  margin-left:auto;
  margin-right:auto;
}

.TXNewsletters_title {
  margin:12px;
  padding:4px;
  text-align:center;
  font-size:11pt;
  font-weight:bold;
}

.TXNewsletters_menu {
  margin:12px;
  padding:4px;
  border:1px solid #cccccc;
}

.TXNewsletters_content {
  margin:12px;
  padding:4px;
  border:1px solid #cccccc;
}

.TXNewsletters_form_labelGauche {
display:block;
padding-top:2px;
float:left;
width:180px;
height:18px;
color: #333333;
position:relative;
top:0px;
text-align:left;
margin-right:2px;
}

.TXNewsletters_form {
margin:10px;
padding:2px;
}

.TXNewsletters_form_right {
padding-left:185px;
}

.TXNewsletters_form_item {
padding:1px;
margin:2px;
}

.TXNewsletters_form_item  TEXTAREA {
vertical-align:middle;
border:1px solid #bbbbbb;
font-size:11px;
color: #333333;
}

.TXNewsletters_form_item  INPUT {
height:20px;
vertical-align:middle;
border:1px solid #bbbbbb;
font-size:11px;
color: #333333;
}

INPUT.TXNewsletters_form_noborder {
border:0;
}

.TXNewsletters_form_noborder {
border:0;
}

.TXNewsletters_form_inputErr {
border:1px solid #ff0000;
}

.TXNewsletters_form_labelErr {
color:#ff0000;
}

.TXNewsletters_form_th {
font-size:11px;
padding-bottom:4px;
border-bottom:1px solid #000000;
border-right:1px solid #cccccc;
}

.TXNewsletters_form_td {
font-size:10px;
padding:4px;
border-bottom:1px solid #cccccc;
border-right:1px solid #cccccc;
}

.coolButton {
cursor:pointer;
position:relative;
float:left;
border:1px solid #bbbbbb;
padding:3px;	
margin:2px;	
background-image:url("../images/buttonbaractive.gif");
}