/*
// Website: A Question Of (http://www.aqo.dk)
// Author: Laander (http://www.laander.com)
// Version: 1.0
*/
/* STYLING OF BASIC ELEMENTS
------------------------------------------------------------------------- */
body {
	font-family: verdana, sans-serif;
	font-size: 63%;
/* 69% is 11px */
	text-decoration: none;
	color: #272727;
	margin: 0;
}

*,div,p,img,a,td,ul,ol {
	font-family: verdana, sans-serif;
	font-size: 1em;
	text-align: left;
	text-decoration: none;
	color: #272727;
	line-height: 1.5em;
}

h1,h2,h3,h4 {
	font-weight: 700;
	margin: .5em 0;
}

h1 {
	font-size: 1.6667em;
}

h2 {
	font-size: 1.6667em;
}

h3 {
	font-size: 1.3333em;
}

h4 {
	font-size: 1.1667em;
}

h1,h1 a:link,h1 a:visited,h1 a:hover,h1 a:active {
	color: #272727;
	border: none;
}

h2,h2 a:link,h2 a:visited,h2 a:hover,h2 a:active {
	color: #272727;
	border: none;
}

h3,h3 a:link,h3 a:visited,h3 a:hover,h3 a:active {
	color: #272727;
	border: none;
}

h4,h4 a:link,h4 a:visited,h4 a:hover,h4 a:active {
	color: #272727;
	border: none;
}

p {
	padding: 0 0 .4em;
}

a,a:link {
	color: #272727;
	border-bottom: 1px dotted #bfbfbf;
	text-decoration: none;
}

a:visited {
	color: #272727;
}

a:hover {
	color: gray;
/* #808080 */
}

a:active {
	color: gray;
}

a img,img {
	border: none;
}

ol {
	margin-left: 1em;
	padding-left: 1em;
}

ol li {
	margin-left: 1em;
	padding: 0 0 .5em .3em;
	list-style: decimal;
}

ul {
	list-style: none;
	margin: 0 0 20px 1em;
}

li {
	list-style: none;
	padding-left: 1em;
	margin-bottom: 3px;
}

/* STRUCTURE OF THE SITE 
------------------------------------------------------------------------- */
body {
	background-color: #fff;
	text-align: center;
}

#sitewrap {
	position: relative;
	width: 770px;
/* 960px */
	text-align: left;
	margin: 0 auto;
	padding-top: 60px;
}

#toplogo {
	position: relative;
	height: 47px;
	width: 770px;
/* 960px */
	margin: 0;
	padding: 0;
}

#toplogo h1 {
	text-indent: -99999px;
	display: none;
}

#toplogo a,#toplogo a img {
	margin: 0 0 0 2px;
	padding: 0;
	border: 0;
}

#topmenu-outer {
	position: relative;
	height: 32px;
	width: 770px;
/* 960px */
	margin: 14px 0 0;
	padding: 0;
	border-top: 1px solid #272727;
	border-bottom: 1px solid #272727;
}

.topmenu-rowtpl {
	position: relative;
	height: 23px;
	padding: 9px 7px 0;
	margin: 0;
	float: left;
	text-transform: uppercase;
	font-size: 1em;
}

.topmenu-rowtpl a {
	border: 0;
}

.topmenu-heretpl {
	position: relative;
	height: 23px;
	padding: 9px 7px 0;
	margin: 0;
	float: left;
	text-transform: uppercase;
	font-size: 1em;
}

.topmenu-heretpl a {
	border: 0;
	color: gray;
}

.topmenu-lastitem {
	float: right;
	padding-right: 14px;
	margin-right: 7px;
	background-image: url(images/topmenu-featuredbullet.png);
	background-position: right center;
	background-repeat: no-repeat;
}

#footer {
	position: relative;
	margin: 12px 0 0;
	height: 30px;
	width: 770px;
}

/* 960px */
#footer a {
	border: 0;
	text-transform: uppercase;
}

.footer-newsletter {
	padding-right: 14px;
	margin-right: 7px;
	background-image: url(images/topmenu-featuredbullet.png);
	background-position: right center;
	background-repeat: no-repeat;
}

/* Specific for the frontpage */
#headerimg {
	position: relative;
	margin: 12px 0;
	height: 470px;
	width: 770px;
	overflow: hidden;
	background: #000;
	cursor: pointer	
}

/* 960px */
#horiboxcontainer {
	position: relative;
	height: 150px;
	width: 770px;
/* 960px */
	overflow: hidden;
	display: none;
}

#newsboxcontainer {
	position: relative;
	height: 150px;
	width: 770px;
/* 960px */
	display: none;
}

#newsbox-left {
	margin: 0 12px 0 0;
}

#newsbox-mid {
	margin: 0 12px 0 260px;
}

/* 324px */
#newsbox-right {
	margin: 0 0 0 520px;
}

/* 648px; */
.newsbox {
	background-color: #ebebeb;
	position: absolute;
	height: 126px;
	width: 224px;
/* 770/3=256 */
/* 288 960/3=320 */
	padding: 12px;
	overflow: hidden;
}

.newsbox h3 {
	font-family: verdana, sans-serif;
	font-size: 1.1667em;
	text-transform: uppercase;
	margin: 0 0 10px;
	font-weight: 700;
	letter-spacing: 0;
}

.newsbox p {
	padding: 0;
	margin: 0 0 10px;
}

.newsbox img {
	position: relative;
	float: right;
}

.newsbox a {
	background-image: url(images/frontpage-link-bullet.gif);
	background-position-y: 50%;
	background-repeat: no-repeat;
	padding-left: 20px;
	text-transform: uppercase;
	font-size: .9em;
	border: 0;
}

.vidimg {
	position: absolute;
	top: 0;
	left: 0;
	width: 770px;
	height: 470px;
	background-color: #000;
	background-image: url(/assets/templates/aqo-v1/images/vid/femme-fatales.jpg);
	cursor: pointer;
}
.vidimg:hover {
	background-image: url(/assets/templates/aqo-v1/images/vid/femme-fatales-hover.jpg);
}

.vidobject {
	width: 627px;
	height: 470px;
	margin: 0 auto;
	background-color: #000;	
}

/* Specific for the subpages */
#contentcontainer {
	position: relative;
	margin: 12px 0 0;
	height: 462px;
	width: 770px;
/* 960px */
	overflow: hidden;
}

#contentbarimg {
	position: absolute;
	width: 248px;
	margin: 36px 12px 0 0;
	overflow: hidden;
}

#contentcontainer h3 {
	position: absolute;
	width: 490px;
/* 616px */
	margin: 12px 0 0 280px;
/* 344 */
	padding: 0 0 4px;
	font-size: 1.1667em;
	text-transform: uppercase;
	border-bottom: 1px solid gray;
	font-weight: 700;
	letter-spacing: 0;
}

#contentwrapper {
	position: absolute;
	width: 490px;
/* 616px */
	height: 406px;
	margin: 0;
/* 55px 0 0 280px;   344 */
/* jScrollPane fix */
	overflow: auto;
	border-bottom: 0;
/* 1px solid #808080; */
/* jScrollPane fix */
}

.jScrollPaneContainer {
/* jScrollPane fix */
/* margin: 55px 0 0 280px; */
	left: 280px;
	top: 55px;
	border-bottom: 1px solid gray;
}

/* Newsletter subscribtion (chunk) design */
.TXNewsletters_form_labelGauche {
	display: block;
	padding-top: 2px;
	float: left;
	height: 18px;
	width: 50px;
	color: #333;
	position: relative;
	top: 0;
	text-align: left;
	margin-right: 2px;
}

.TXNewsletters_form {
	padding: 2px;
}

.TXNewsletters_form_right INPUT {
	text-align: center;
}

.TXNewsletters_form_item {
	padding: 1px;
	margin: 2px;
}

.TXNewsletters_form_item TEXTAREA {
	vertical-align: middle;
	border: 1px solid #bbb;
	font-size: 11px;
	color: #333;
}

.TXNewsletters_form_item INPUT {
	height: 20px;
	width: 200px;
	vertical-align: middle;
	align: center;
	border: 1px solid #bbb;
	font-size: 11px;
	color: #333;
}

INPUT.TXNewsletters_form_noborder {
	border: 0;
}

.TXNewsletters_form_noborder {
	border: 0;
}

.TXNewsletters_form_inputErr {
	border: 1px solid red;
}

.TXNewsletters_form_labelErr {
	color: red;
}

fb:fan iframe html body div div.fan_box div.full_widget {
	border: none;
}